
#add-card-form .control-label {
    width: 130px;
}

#add-card-form .controls {
    margin-left: 150px;
}

#card_number {
    width: 360px;
    background-image: url('cards/generic.png');
    background-repeat: no-repeat;
    background-position: 322px 6px;
}

#card_number.visa {
  background-image: url('cards/visa.png');
}

#card_number.mastercard {
  background-image: url('cards/mastercard.png');
}

#card_number.amex {
  background-image: url('cards/amex.png');
}

#card_number.discover {
  background-image: url('cards/discover.png');
}

#expiration-cvv-control .controls {
    float: left;
    display: inline-block;
    margin: 0 0 0 20px;
}

#expiration-cvv-control label[for='cvv'] {
    width: 108px;
}

#expiration_month {
    width: 80px;
    text-align: center;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: -2px;
}

#expiration_year {
    width: 80px;
    text-align: center;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: -3px;
}

#cvv-control .control-label {
    width: 60px;
}

#cvv-control .controls {
    margin-left: 70px;
}

#cvv {
    width: 73px;
}


#cardholder_name {
    width: 360px;
}